*{
    margin: 0;
    padding: 0;

}

.con{
    
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;


perspective: 10px;



}



.box{
    position: relative;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    z-index: -1;


}

#a,#b{
    position: absolute;
    height: 110%;
    width: 100vw;
    object-fit: cover;
    z-index: -1;

}
#a{
    
    transform: translateZ(-70px) scale(8);
 
 overflow-y:hidden ;
}
#b{
    transform: translateZ(-30px) scale(2);
    width: 100%;
    height: 100%;


}

#c{  display: flex;
    position: absolute;
    padding: 2px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
    background: rgba(255, 0, 0, 0.8);
    border: 2px solid black;
    box-shadow:5px 5px rgb(255, 255, 255) ;
    transform: translateZ(-5px);
    font-size: min(50px,10vw);
    flex-wrap: wrap;
}


section{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-style: italic;
   
}
h2{
    text-align: center;
    align-items: center;
    font-size: min(50px,8vw);
    background-color: rgb(255, 255, 255);
    border: 2px solid wheat;
   
}

.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 400px;
    background-position: center;
    background-size: cover;
    justify-content: center;

}
#a1{
    
    
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px rgb(255, 255, 255);
    
    

}

#a2{
   
    
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px rgb(255, 255, 255);
}
#a3{
    background-image: url();
   
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px rgb(255, 255, 255);
}

#a4{
    background-image: url();
  
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px rgb(255, 255, 255);
}
#a5{
    background-color: rgb(0, 0, 0);
    
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px rgb(255, 255, 255);
}
p{
    height: auto;
}
p{
color: rgb(240, 167, 9);
padding-left: 30px;
        white-space: pre-wrap;
        word-wrap: break-word;
        line-height: 1.5;
}
#a6{
    color: white;
}

 
strong{
    color: red;
}
    
.a10{

    margin-left: min(25vw,20px);
    margin-right: min(25vw,20px);

    font-size: max(1.8vw,10px);
    line-height: 2vw;
    line-height: 5vw;
    color: rgb(240, 167, 9);
    word-spacing: 0.5vw;
}